<body class="home-body">       
    
    <header style="background-color: red;">

        <div class="d-flex justify-content-around">
            <div class="flex-col">
                <h1>Fernando Gomes Veras | MyHub</h1>
                <p>This is the home component</p>
    
            </div>
    
            <div class="flex-col flex-row-reverse">
                <a routerLink="/home" routerLinkActive="active" class="p-2">Home</a>
                <a routerLink="/about-me" routerLinkActive="active" class="p-2">About Me</a>
                <a routerLink="/contact" routerLinkActive="active" class="p-2">Contact</a>
            </div>
        </div>

    </header>
    
</body>